<div class="list-group mb-3">
  <a class="list-group-item list-group-item-action" href="{% url 'manage_dashboard' %}">Дашборд</a>
  <a class="list-group-item list-group-item-action" href="{% url 'manage_courses' %}">Управление курсами</a>
  <a class="list-group-item list-group-item-action" href="{% url 'manage_gallery' %}">Управление галереей</a>
  <a class="list-group-item list-group-item-action" href="{% url 'manage_applications' %}">Просмотр заявок</a>
  <a class="list-group-item list-group-item-action" href="{% url 'manage_works_moderation' %}">Модерирование работ</a>
  <a class="list-group-item list-group-item-action" href="{% url 'manage_news' %}">Управление новостями</a>
  <a class="list-group-item list-group-item-action" href="{% url 'manage_send_notification' %}">Отправить уведомление</a>
</div>

